/*--------Global--------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    scroll-behavior: smooth;
}

section {
    width: 100vw;
    height: 100vh;
}

/*--------NavBar--------*/
.header {
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    height: 10vh;
    width: 100vw;
}

.header .logo {
    color: #F9F6EF;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 5rem;
    padding: 0 3rem;
    transition: 0.4s;
}

.menu {
    float: right;
    margin-right: 20px;
}

.menu .list li {
    display: inline-block;
    margin: 0 0.5rem;
    line-height: 5.5rem;
}

.menu .list li a {
    color: #F9F6EF;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.2s;
    padding: 12px 10px 10px;
    font-weight: 700;
}

.menu .list:hover li a,
.header .logo:hover {
    color: #aaa;
}


.menu .list li:hover a,
.header .logo:hover {
    color: #000;
    background: #F9F6EF;
    border-radius: 20px;
}

/*.menu .list li a:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 10em;*/
/*    color: rgba(0, 0, 0, 0.1);*/
/*    z-index: -1;*/
/*    opacity: 0;*/
/*    font-weight: 900;*/
/*    transition: letter-spacing 0.5s;*/
/*    transition: opacity 0.5s;*/
/*}*/

/*.menu .list li a:hover:before {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    content: attr(data-text);*/
/*    opacity: 1;*/
/*    background: #fff;*/
/*}*/


.show-menu-btn, .hide-menu-btn {
    display: none;
}

/*--- Change ----*/
.menu .list a:hover,
.show-menu-btn:hover,
.menu .hide-menu-btn:hover{
    color: #cb0b0b;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width: 640px) {
    .show-menu-btn, .menu .hide-menu-btn {
        transition: 0.4s;
        font-size: 35px;
        cursor: pointer;
        color: #F9F6EF;
        line-height: 100px;
        float: right;
        margin-right: 20px;
    }

    .show-menu-btn {
        display: block;
    }

    .menu .hide-menu-btn {
        display: none;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        transition: 0.7s;
        background: #000;
        top: 0;
        margin: 0;
    }

    .menu .list {
        text-align: center;
        line-height: normal;
        padding: 30vh 0 80px;
    }

    .menu .list li {
        display: block;
        padding: 20px;
    }

    .menu .list li a {
        color: #F9F6EF;
        font-size: 2em;
        text-transform: uppercase;
        transition: 0.2s;
        padding: 12px 10px 10px;
        font-weight: 700;
    }

    .menu .list li a:before {
        font-size: 4.5em;
        padding: 20px;
    }


    #chk:checked ~ .menu .hide-menu-btn {
        display: block;
    }

    #chk:checked ~ .menu {
        right: 0;
    }

    #chk:checked ~ .home .right {
    }
}

/*--------Home--------*/
.odd {
    box-sizing: border-box;
    color: #F9F6EF;
    height: 100vh;
    width: 100vw;
}

.odd .left {
    display: flex;
    float: left;
    width: 60vw;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    clip-path: polygon(95% 60%, 0 0, 0 100%);
    background: rgba(0, 0, 0, 0.4);
}

.odd .left .leftBack {
    display: flex;
    float: left;
    width: 100%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    clip-path: polygon(95% 55%, 0 0, 0 100%);
    background: linear-gradient(27deg, #b50505 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #c50505 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #990000 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #9b0000 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #cb0b0b 10px, transparent 10px),
    linear-gradient(#cf0f0c 25%, #ca0a0a 25%, #ca0a0a 50%, transparent 50%, transparent 75%, #9b0000 75%, #9b0000);
    background-color: #c5050c;
    background-size: 20px 20px;
}

.odd .left h1 {
    font-size: 5em;
    margin-right: 2em;
}

.odd .right {
    display: flex;
    float: left;
    width: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home .right .tiles {
    z-index: 1;
    position: relative;
    width: 30vh;
    height: 40vh;
    min-width: 150px;
    min-height: 200px;
    max-width: 80vw;
    max-height: 90vh;
    transform-style: preserve-3d;
    border-radius: 20px;
    margin-top: 30vh;
    background-color: #269;
    background-blend-mode: soft-light;
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.home .right .tiles:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home .right .tiles:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home .right .tiles .tile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    overflow: hidden;
    animation: animate 12s linear infinite;
    animation-delay: calc(4s * var(--i));
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.8);
}

@keyframes animate {
    0% {
        transform: perspective(500px) translate3d(0, 0, 0);
        opacity: 1;
    }

    25% {
        transform: perspective(500px) translate3d(-50px, -50px, 50px);
        opacity: 1;
    }

    35%, 100% {
        transform: perspective(500px) translate3d(-55px, -50px, 50px);
        opacity: 0;
    }
}

.home .right .tiles .tile .tileTitleD {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
    font-weight: 600;
    background-color: #269;
    background-blend-mode: soft-light;
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.home .right .tiles .tile .tileTextD {
    position: absolute;
    padding: 20px;
    top: 50%;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #269;
    background-blend-mode: soft-light;
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.home .right .tiles .tile .tileTextD ul li {
    display: inline;
    padding: 3px;
}

.home .right .tiles .tile .tileTextD ul li a {
    z-index: 100;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    cursor: pointer;
}

.home .right .tiles .tile .tileTextD ul li a:hover {
    z-index: 100;
    color: #494949;
}

@media screen and (max-width: 800px) {
    .odd .left {
        width: 100%;
        clip-path: polygon(100% 60%, 0 0, 0 100%);
    }

    .odd .leftBack {
        clip-path: polygon(100% 55%, 0 0, 0 100%);
    }

    .odd .right {
        width: 100%;
    }

    .home .right .tiles {
        margin-top: 5vh;
    }
}

/*--------About--------*/
.even {
    box-sizing: border-box;
    color: #F9F6EF;
    height: 100vh;
    width: 100%;
}

.even .right {
    display: flex;
    float: right;
    width: 60%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    clip-path: polygon(100% 0, 5% 60%, 100% 100%);
    background: rgba(0, 0, 0, 0.4);
}

.even .rightBack {
    display: flex;
    float: right;
    width: 100%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    clip-path: polygon(100% 0, 5% 55%, 100% 100%);
    background: linear-gradient(27deg, #c50505 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #c50505 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #9d0000 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #9b0000 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #cb0b0b 10px, transparent 10px),
    linear-gradient(#cf0f0c 25%, #ca0a0a 25%, #ca0a0a 50%, transparent 50%, transparent 75%, #9b0000 75%, #9b0000);
    background-color: #c5050c;
    background-size: 20px 20px;
}

.even .rightBack h1 {
    font-size: 70px;
    margin-left: 80px;
}

.even .left {
    display: flex;
    float: right;
    width: 40%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.about .left .card {
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.about .left .card:hover {
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.about .left .card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.about .left .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about .left .card:hover .imgBox {
    transform: rotateY(-135deg);
    z-index: 9;
}

.about .left .card .details {
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 30px;
    color: #000;
}

.about .left .card .details h2 {
    font-weight: bolder;
}

.about .left .card .details p {
    font-weight: lighter;
}

.about .left .card .details ul li {
    display: inline;
    font-size: 25px;
    padding: 4px;
    color: #494949;
}

.about .left .card .details ul li a {
    color: #494949;
}

@media screen and (max-width: 800px) {
    .even .right {
        width: 100%;
        clip-path: polygon(100% 0, 0 60%, 100% 100%);
    }

    .even .rightBack {
        clip-path: polygon(100% 0, 0 55%, 100% 100%);
    }

    .even .left {
        width: 100%;
    }
}

.projects .right {
    padding: 20px;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects .right .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    margin-right: 125px;
    transform-style: preserve-3d;
}

.projects .right .grid .projectCard {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

.projects .right .grid .projectCard .front {
    transform-style: preserve-3d;
    -webkit-transform: perspective(600px) rotateX(0deg);
    color: #fff;
    font-weight: 600;
    background-blend-mode: soft-light;
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    transform: perspective(600px) rotateX(0deg);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.projects .right .grid .projectCard .front,
.projects .right .grid .projectCard .back {
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    background-color: inherit;
    background-blend-mode: soft-light;
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    transition: transform 0.5s ease;
}

.projects .right .grid .projectCard .back {
    transform-style: preserve-3d;
    -webkit-transform: perspective(600px) rotateX(180deg);
    transform: perspective(600px) rotateX(180deg);
}

.projects .right .grid .projectCard:hover .front {
    transform-style: preserve-3d;
    -webkit-transform: perspective(600px) rotateX(180deg);
    transform: perspective(600px) rotateX(180deg);
    z-index: 9;

}

.projects .right .grid .projectCard:hover .back {
    transform-style: preserve-3d;
    -webkit-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    z-index: 9;

}

.projects .right .grid .projectCard .back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.projects .right .grid .projectCard .back p {
    padding: 5px;
}

.projects .right .grid .projectCard .back ul li {
    display: inline;
    font-size: 22px;
    padding: 2px;
}

.projects .right .grid .projectCard .back ul li i{
    color: #ffffff; !important;
}


.projects .right .grid .projectCard .back ul li a {
    color: #494949;
    font-size: 27px;
    padding: 2px;
}

.projects .right .grid .projectCard .back ul li a:hover {
    color: #fff;
}

@media screen and (max-width: 800px) {
    .projects .left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .projects .right {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 200vh;
    }

    .projects .right .grid {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        padding: 0;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;
    }

    .projects .right .grid .projectCard {
        width: 90%;
        height: 100%;
        justify-self: center;
        align-self: center;
        align-items: center;
    }

    .projects .right .grid .projectCard .front,
    .projects .right .grid .projectCard .back {
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;
    }

    .projects .right .grid .projectCard .front h1 {
        font-size: 45px;
    }

    .projects .right .grid .projectCard .back p {
        font-size: 18px;
    }

    .projects .right .grid .projectCard .back ul li {
        display: inline;
        font-size: 22px;
    }

    .projects .right .grid .projectCard .back ul li a {
        font-size: 25px;
    }
}

.exp .left {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    padding-left: 40px;
}

.exp .left .expCard {
    position: relative;
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

.exp .left .expCard .face {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.exp .left .expCard .face.face1 {
    box-sizing: border-box;
    padding: 15px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exp .left .expCard .face1 .content h2 {
    margin: 0;
    padding: 10px;
    color: #000;
    font-size: 22px;
}
.exp .left .expCard .face1 .content h2 a{
    color: #1b1b1b;
    text-decoration: underline;
}

.exp .left .expCard .face1 .content p {
    margin-bottom: 30px;
    padding: 0;
    color: #000;
    font-size: 18px;
}

.exp .left .expCard .face.face2 {
    background: #111;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp .left .expCard:hover .face.face2 {
    height: 15%;
}

.exp .left .expCard:hover .face.face2 h2 {
    font-size: 25px;
}

.exp .left .expCard .face.face2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.exp .left .expCard .face.face2 h2 {
    margin: 0;
    padding: 0;
    font-size: 200px;
    color: #fff;
    transition: 0.5s;
}

.resume .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume .right iframe {
    width: 500px;
    height: 400px;
    border: none;
    transition: 0.5s;
    border-radius: 10%;
}

.resume .right iframe:hover {
    width: 800px;
    height: 600px;
    margin-right: 100px;
}

.skills .left ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 80px;
    margin-left: 10%;
}

.skills .left ul li {
    list-style: none;
    margin: 0 40px;
}

.skills .left ul li a i {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
}

.skills .left ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.skills .left ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.skills .left ul li a:after {
    color: #1b1b1b;
    font-size: 0.9rem;
    content: attr(data-text);
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.skills .left ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.7);
}

#java:hover{
    background: linear-gradient(to bottom right, #ED8B00 50%, #007396 0%);
}

#java:hover > i {
    color: #fff;
}

#java:hover:before {
    background: #ED8B00;
}

#java:hover:after{
    background: #007396;
    color: #fff;
}

#python:hover {
    background: linear-gradient(to bottom right, #4B8BBE, #306998 50%, #FFE873, #FFD43B 0%);
}

#python:hover > i {
    color: #fff;
}

#python:hover:before {
    background: linear-gradient(to bottom right, #4B8BBE, #306998);
}

#python:hover:after {
    background: linear-gradient(to bottom right, #FFE873, #FFD43B);
    color: #646464;
}

#js:hover {
    background: #323330;
}

#js:hover > i {
    color: #f0db4f;
}

#js:hover:before {
    background: #323330;
}

#js:hover:after {
    background: #323330;
    color: #f0db4f;
}

#css:hover {
    background: #264de4;
}

#css:hover > i{
    color: #fff;
}

#css:hover:before {
    background: #264de4;
}

#css:hover:after {
    background: #264de4;
    color: #fff;
}

#swift:hover {
    background: linear-gradient(to bottom right, #e98f4a, #e93d30);
}

#swift:hover > i {
    color: #fff;
}

#swift:hover:before {
    background: linear-gradient(to bottom, #e98f4a, #da6d49);
}

#swift:hover:after  {
    background: linear-gradient(to right, #da6d49, #e93d30);
    color: #fff;
}

#html:hover {
    background: #f06529;
}

#html:hover > i {
    color: #fff;
}

#html:hover:before {
    background: #f06529;
}

#html:hover:after {
    background: #f06529;
    color: #fff;
}

#terminal:hover {
    background: #000;
}

#terminal:hover > i {
    color: #00ff00;
}

#terminal:hover:before {
    background: #000;
}

#terminal:hover:after {
    background: #000;
    color: #00ff00;
}

#php:hover {
    background: #787CB5;
}

#php:hover > i{
    color: #fff;
}

#php:hover:before {
    background: #787CB5;
}

#php:hover:after {
    background: #787CB5;
    color: #fff;
}

#unity:hover {
    background: #242c36;
}

#unity:hover > i {
    color: #fff;
}

#unity:hover:before {
    background: #242c36;
}

#unity:hover:after {
    background: #242c36;
    color: #fff;
}

#matlab:hover {
    background: linear-gradient(to bottom right, #1774ae, #286a99);
}

#matlab:hover > i {
    color: #fff;
}

#matlab:hover:before {
    background: #286a99;
}

#matlab:hover:after  {
    background: #e98f4a;
    color: #fff;
}

#matlab:hover {
    background: linear-gradient(to bottom right, #286a99 50%, #e98f4a 0%);
}

#cpp:hover {
    background: #017fcd;
}

#cpp:hover > i {
    color: #fff;
}

#cpp:hover:before {
    background: #017fcd;
}

#cpp:hover:after {
    background: #017fcd;
    color: #fff;
}

 #c:hover {
     background: #5c6bc0;
 }

#c:hover > i {
    color: #fff;
}

#c:hover:before {
    background: #5c6bc0;
}

#c:hover:after {
    background: #5c6bc0;
    color: #fff;
}

#gcloud:hover {
    background: #4285F4;
}

#gcloud:hover > i {
    color: #fff;
}

#gcloud:hover:before {
    background: #DB4437;
}

#gcloud:hover:after {
    background: #F4B400;
    color: #fff;
}

#unreal:hover {
    background: #4c4c4c;
}

#unreal:hover > i {
    color: #fff;
}

#unreal:hover:before {
    background: #4c4c4c;
}

#unreal:hover:after {
    background: #4c4c4c;
    color: #fff;
}

#photoshop:hover {
    background: #3C327B;
}

#photoshop:hover > i {
    color: #8BC3FC;
}

#photoshop:hover:before {
    background: #3C327B;
}

#photoshop:hover:after {
    background: #3C327B;
    color: #8BC3FC;
}

#illustrator:hover {
    background: #5F4B26;
}

#illustrator:hover > i {
    color: #FBBB4D;
}

#illustrator:hover:before {
    background: #5F4B26;
}

#illustrator:hover:after {
    background: #5F4B26;
    color: #FBBB4D;
}

#xd:hover {
   background: #400a35;
}

#xd:hover > i {
    color: #eb0bef;
}

#xd:hover:before {
    background: #400a35;
}

#xd:hover:after {
    background: #400a35;
    color: #eb0bef;
}

#office:hover {
    background: #F25022;
}

#office:hover > i {
    color: #fff;
}

#office:hover:before {
    background: #F25022;
}

#office:hover:after {
    background: #F25022;
    color: #fff
;
}

.contact .right ul {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    transform: rotate(28deg) skew(-15deg);
    margin-right: 250px;
}

.contact .right ul li {
    position: relative;
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 0 27px;
}

.contact .right ul li:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #b0b0b0;
    transform-origin: top;
    transform: skewX(41deg);
}

.contact .right ul li:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 10px;
    right: -9px;
    width: 9px;
    height: 100%;
    background: #c1c1c1;
    transform-origin: right;
    transform: skewY(49deg);
}

.contact .right ul li:hover:after,
.contact .right ul li:hover:before {
    opacity: 0.2;
}


.contact .right ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #262626;
    font-size: 50px !important;
    /*border-radius: 20%;*/
}

.contact .right ul li:hover span {
    z-index: 1000;
    transition: 1s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.contact .right ul li:nth-child(1):hover span,
.contact .right ul li:nth-child(1):hover:after,
.contact .right ul li:nth-child(1):hover:before {
    background: #3b5999;
}

.contact .right ul li:nth-child(2):hover span,
.contact .right ul li:nth-child(2):hover:after,
.contact .right ul li:nth-child(2):hover:before {
    background: #e44054;
}

.contact .right ul li:nth-child(3):hover span,
.contact .right ul li:nth-child(3):hover:after,
.contact .right ul li:nth-child(3):hover:before {
    background: #0077B5;
}

.contact .right ul li:nth-child(4):hover span,
.contact .right ul li:nth-child(4):hover:after,
.contact .right ul li:nth-child(4):hover:before {
    background: #25d366;
}

.contact .right ul li:nth-child(5):hover span,
.contact .right ul li:nth-child(5):hover:after,
.contact .right ul li:nth-child(5):hover:before {
    background: #C5050C;
}

.contact .right ul li:nth-child(6):hover span,
.contact .right ul li:nth-child(6):hover:after,
.contact .right ul li:nth-child(6):hover:before {
    background: #00A86B;
}

.contact .right ul li:hover span:nth-child(5) {
    transform: translate(-70px, -70px);
    opacity: 1;
}

.contact .right ul li:hover span:nth-child(4) {
    transform: translate(-50px, -50px);
    opacity: 0.8;
}

.contact .right ul li:hover span:nth-child(3) {
    transform: translate(-30px, -30px);
    opacity: 0.6;
}

.contact .right ul li:hover span:nth-child(2) {
    transform: translate(-10px, -10px);
    opacity: 0.4;
}

.contact .right ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
}

