.base {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    width: 85vw;
    top: 12.5vh;
    z-index: 3;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(60, 60, 60, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 1em;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}

header ul li a:hover {
    color: black;
    background: #fff;
}

.container {
    position: absolute;
    top: 16vh;
    min-width: 90vw;
    min-height: 75vh;
    max-height: 75vh;
    z-index: -1;
    background: rgba(100, 100, 100, 0.2);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}

@media (max-width: 992px) {
    .base {
        overflow: auto;
    }

    .container {
        position: absolute;
        min-width: 80vw;
        max-width: 80vw;
        min-height: auto;
        max-height: 400vh;
        flex-direction: column;
        margin-top: 40px;
    }

    header {
        flex-direction: column;
    }

    header ul {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    header ul li {
        margin: 2px;
    }
    header ul li a {
        display: inline-block;
    }
}

@media (max-width: 414px){
    header {
        padding: 0;
    }

    header ul li {
        list-style: none;
        margin: 0;
    }

    header ul li a {
        font-size: 15px;
    }

}