.contact_container {
    display: flex;
    justify-content: center;
}

.contact_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -3em;
}

.contact_card {
    min-width: 300px;
    max-width: 1000px;
    min-height: 200px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-top: 30px;
    flex: 1;
    margin: 1rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.contact_card h2 {
    color: #fff;
    font-size: 17px;
}

.contact_card p {
    color: #b0b0b0;
}

.contact_card img {
    height: 50px;
    width: 50px;
}

.contact_card svg {
    height: 50px;
    width: 50px;
}

.contact_card:hover {
    transition: 0.5s;
    transform: translateY(-2rem);
    z-index: 5 !important;
    cursor: pointer;
}

.fa-linkedin-in {
    color: white;
}

.fa-envelope {
    color: white;
}

.fa-github{
    color: white;
}