.home_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_tile {
    transform: translateX(-50px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px 40px 40px 110px;
    flex: 1
}

.home_tile h2 {
    font-size: 3em;
    color: white;
}

.home_tile h1 {
    font-size: 1.5em;
    color: white;
}

.home_tile p {
    font-size: 1.2em;
    color: white;
}

.imgBox img {
    max-width: 400px;
    flex: 1;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(40px);
    }
}

@media (max-width: 1200px) {
    .home_tile {
        transform: translateX(-40px);
    }
}

@media (max-width: 992px) {
    .home_container {
    }

    .home_tile {
        transform: translateX(0);
        max-width: 90%;
        margin-top: 150px;
    }

    .imgBox {
        margin-bottom: 80px;
    }

}

@media (max-width: 800px) {
    .home_tile h2 {
        font-size: 1.5em;
    }

    .home_tile h1 {
        font-size: 1.2em;
    }

    .home_tile p {
        font-size: 1em;
        color: white;
    }
}

@media (max-width: 736px) {
    .imgBox img {
        max-width: 300px;
    }

}

@media (max-width: 600px) {
    .home_tile {
        padding: 40px 40px 40px 40px;
    }

}

@media (max-width: 414px){

    .imgBox img {
        max-width: 200px;
    }
}