.home_container {
    position: absolute;
    top: 16vh;
    min-width: 90vw;
    min-height: 75vh;
    z-index: -1;
    background: rgba(100, 100, 100, 0.2);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_tile {
    transform: translateX(-50px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px 40px 40px 110px;
    flex: 1
}

.home_tile h2 {
    font-size: 3em;
    color: white;
}

.home_tile h1 {
    font-size: 1.5em;
    color: white;
}

.home_tile p {
    font-size: 1.2em;
    color: white;
}

.imgBox img {
    max-width: 400px;
    flex: 1;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(40px);
    }
}