.container {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    display: flex;
}


.content {
    /*background-color: rgba(255,0,0,0.1);*/
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px 40px 40px 110px;
    flex: 1
}

.content h2 {
    font-size: 3em;
    color: white;
}

.content h1 {
    font-size: 1.5em;
    color: white;
}

.content p {
    font-size: 1.2em;
    color: white;
}

.imgBox img {
    max-width: 400px;
    flex: 1;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(60px);
    }
}

@media (max-width: 992px) {
    .content {
        transform: translateX(0);
        max-width: 100%;
        padding: 30px;
        margin-top: 40px;
    }

    .imgBox {
        margin-bottom: 50px;
    }

    @keyframes animate {
        0%, 100% {
            transform: translateY(-20px);
        }
        50% {
            transform: translateY(20px);
        }
    }
}