.modal {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_body {
    min-height: 90vh;
    min-width: 60vw;
    z-index: 100;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
}

.modal_content h1 {
    padding-top: 30px;
    color: white;
    font-size: 3em;
}

.modal_content p {
    color: white;
    padding: 10px;
    font-size: 1.5em;
}