.modal {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_body {
    min-height: 40vh;
    width: 70vw;
    z-index: 5;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
}


.modal_header h1 {
    padding-top: 30px;
    color: white;
    font-size: 2.5em;
    text-align:center;
}

.modal_data {
    display: flex;
    margin: 1rem;
}
.modal_data p {
    white-space: pre-line;
    align-items: center;
    color: white;
    padding-top: 10px;
    font-size: 1.5em;
    text-align:center;
}