.skills-container {
    position: absolute;
    /*width: calc(100vw - 200px);*/
    width: 88vw;
    /*height: 90vh;*/
    z-index: -1;
    /*min-height: calc(100vh - 280px);*/
    /*min-width: 300px;*/
    background: rgba(100, 100, 100, 0.5);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin-top: 0.5rem;
}

.skills-content {
    /*margin-top: -100px;*/

    align-items: center;
    justify-content: center;
    /*display: flex;*/
}

.skills-cards {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
}

/*.skills-card {*/
/*    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 20px;*/
/*    backdrop-filter: blur(20px);*/
/*    border: 1px solid rgba(255, 255, 255, 0.25);*/
/*    border-top: 1px solid rgba(255, 255, 255, 0.5);*/
/*    border-left: 1px solid rgba(255, 255, 255, 0.5);*/
/*    padding-left: 20px;*/
/*    padding-top: 30px;*/
/*    display: grid;*/
/*    place-items: center;*/
/*    text-align: center;*/
/*}*/

/*.card h2 {*/
/*    color: #ededed;*/
/*    font-size: 17px;*/
/*}*/

/*.card p {*/
/*    color: #b0b0b0;*/
/*}*/

/*.card img {*/
/*    height: 50px;*/
/*    width: 50px;*/
/*}*/

/*.card svg {*/
/*    height: 50px;*/
/*    width: 50px;*/
/*}*/

/*.card:hover {*/
/*    transition: 0.5s;*/
/*    transform: translateY(-2rem);*/
/*    z-index: 3 !important;*/
/*}*/
.fa-python {
    color: #ffffff;
}

