.skills_container {
    display: flex;
    justify-content: center;
    padding: 6vh;
    overflow: scroll;
}

.skills_container ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.skill_card {
    padding: 20px;
    min-height: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 1);
    border-radius: 15px;
}

.skill_card span {
    display: flex;
    align-items: center;
}

.skill_card span h1 {
    display: inline;
    color: white;
    font-size: 2em;
    padding: 10px;
    font-weight: normal;
}

.skill_card p {
    color: white;
    font-size: 1em;

}

.skill_card span svg {
    color: #fff;
}

