.scontent {
    /*align-items: flex-start;*/
}

.scards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));}

.scard {
    min-width: 100px;
    min-height: 100px;
    /*max-width: 80px;*/
    /*max-height: 80px;*/
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /*padding-left: 20px;*/
    /*padding-top: 30px;*/
    flex: 1;
    /*margin-left: -3rem;*/
    float: left;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.scard h2 {
    color: #ededed;
    font-size: 12px;
}

.card p {
    color: #b0b0b0;
}

.card img {
    height: 50px;
    width: 50px;
}

.card svg {
    height: 50px;
    width: 50px;
}

.card:hover {
    transition: 0.5s;
    transform: translateY(-2rem);
    z-index: 3 !important;
}

.fa-chalkboard-teacher {
    color: #4169e1;
}

.fa-bolt {
    color: #ffd700;
}

.fa-pizza-slice {
    color: #f55;
}

