.work_container {
    display: flex;
    justify-content: center;
}

.work_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -5rem;
}

.work_card {
    min-width: 16.5vw;
    /*max-width: fit-content;*/
    min-height: 20vh;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-top: 30px;
    flex: 1;
    margin-left: -5rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.work_card h2 {
    color: #ededed;
    font-size: 17px;
}

.work_card p {
    color: #b0b0b0;
}

.work_card img {
    height: 50px;
    width: 50px;
}

.work_card svg {
    height: 35px;
    width: 35px;
}

.work_card:hover {
    transition: 0.5s;
    transform: translateY(-2rem);
    z-index: 5 !important;
    cursor: pointer;
}

.fa-chalkboard-user {
    color: #4169e1;
}

.fa-bolt {
    color: #ffd700;
}

.fa-pizza-slice {
    color: #f55;
}

