/*.container {*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    display: flex;*/
/*}*/

.wcontent {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /*margin: 0;*/
    /*padding: 0;*/
}

.card {
    max-width: 1000px;
    /*min-width: 300px;*/
    min-height: 200px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-top: 30px;
    flex: 1;
    margin-left: -3rem;
    float: left;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.card h2 {
    color: #ededed;
    font-size: 17px;
}

.card p {
    color: #b0b0b0;
}

.card img {
    height: 50px;
    width: 50px;
}

.card svg {
    height: 50px;
    width: 50px;
}

.card:hover {
    transition: 0.5s;
    transform: translateY(-2rem);
    z-index: 3 !important;
}

.fa-lock {
    color: #f55;
}
