.work-container {
    display: flex;
    position: fixed;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-width: 300px;
    justify-content: center;
    align-items: center;
}

.wcontent {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -3em;
}

.card {
    min-width: 300px;
    max-width: 1000px;
    min-height: 200px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-top: 30px;
    flex: 1;
    margin-left: -3rem;
    /*float: left;*/
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.card h2 {
    color: #ededed;
    font-size: 17px;
}

.card p {
    color: #b0b0b0;
}

.card img {
    height: 50px;
    width: 50px;
}

.card svg {
    height: 50px;
    width: 50px;
}

.card:hover {
    transition: 0.5s;
    transform: translateY(-2rem);
    z-index: 3 !important;
}

.fa-chalkboard-teacher {
    color: #4169e1;
}

.fa-bolt {
    color: #ffd700;
}

.fa-pizza-slice {
    color: #f55;
}

